<div class="row" ng-cloak="">
        <md-toolbar class="md-table-toolbar md-default" ng-show="!selected.length">
            <div class="md-toolbar-tools">
                <span>List of Libraries</span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="getLibrary()">
                    <md-icon>refresh</md-icon>
                </md-button>
                <md-button ng-if="role == 1" class="md-icon-button" data-toggle="modal" data-target="#newLibraryModal">
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar md-default" ng-show="selected.length">
            <div class="md-toolbar-tools">
                <span><i><u>{{selected[0].l_name}}</u></i> selected</span>
                <span flex></span>
                <md-button ng-if="role == 1" class="md-icon-button" ng-click="deleteLibrary()">
                    <md-icon>delete</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-table-container style="width: 100%;">
            <table ng-if="role == 1" md-table md-row-select ng-model="selected">            
                <thead md-head md-order="myOrder" md-on-reorder="">
                <tr md-row>
                    <th md-column><span>ID</span></th>
                    <th md-column md-order-by="l_name"><span>Branch name</span></th>
                    <th md-column><span>City</span></th>                    
                    <th md-column md-numeric><span>Total books</span></th>                                        
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="item" md-select-id="" md-auto-select="false" ng-repeat="item in listOfLibraries | orderBy: myOrder | filter: filter.search | limitTo: query.limit : (query.page - 1) * query.limit track by $index">
                    <td md-cell>{{item.lib_ID}}</td>
                    <td md-cell>{{item.l_name}}</td>
                    <td md-cell>{{item.city}}</td>
                    <td md-cell>{{item.total_books}}</td>                                                      
                </tr>
                </tbody>
            </table>        
            <table ng-if="role == 2" md-table>
                <thead md-head md-order="myOrder" md-on-reorder="">
                <tr md-row>
                    <th md-column><span>ID</span></th>
                    <th md-column md-order-by="l_name"><span>Branch name</span></th>
                    <th md-column><span>City</span></th>                    
                    <th md-column md-numeric><span>Total books</span></th>                                        
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="item" md-select-id="" md-auto-select="false" ng-repeat="item in listOfLibraries | orderBy: myOrder | filter: filter.search | limitTo: query.limit : (query.page - 1) * query.limit track by $index">
                    <td md-cell>{{item.lib_ID}}</td>
                    <td md-cell>{{item.l_name}}</td>
                    <td md-cell>{{item.city}}</td>
                    <td md-cell>{{item.total_books}}</td>                                                      
                </tr>
                </tbody>
            </table>        
        </md-table-container>  
        <md-table-pagination style="width: 100%;" md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{listOfLibraries.length}}" md-page-select></md-table-pagination>
    </div>
    <div class="modal fade" id="newLibraryModal" tabindex="-1" role="dialog" aria-labelledby="newLibraryModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newLibraryModal">Add Library Branch</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form role="form" name="newPublisherForm" novalidate="">
                    <div class="modal-body">                                            
                            <md-input-container class="md-block">
                                <label>Library ID</label>
                                <input type="text" ng-model="lib.lib_ID" required>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Branch Name</label>
                                <input type="text" ng-model="lib.l_name" required>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>City</label>
                                <input type="text" ng-model="lib.city" required>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Total Books</label>
                                <input type="text" ng-model="lib.total_books" required ng-pattern="/^[0-9]*$/">
                            </md-input-container>                                                                                  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="md-raised md-primary md-button" ng-click="savePublisher()" ng-disabled="newPublisherForm.$invalid">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>