<div class="row">
    <div style="margin-top: 20px;padding-left: 30px;" class="text-left">
        <span style="color: #999;">You are</span>
        <h1 style="font-weight:300;font-family: 'Open Sans';" class="text-secondary text-center">
            <span style="color: #555;">{{userProfile.u_name}}</span>
        </h1>
        <h5 style="color: #555;font-weight:300;font-family: 'Open Sans';" class="text-secondary"></a></h5>
        <h6 style="color: #555;font-weight:500;font-family: 'Open Sans';">{{userProfile.city}}</h6>
        <h6 style="color: #555;font-weight:500;font-family: 'Open Sans';">{{userProfile.state}}</h6>
        <h6 style="color: #555;font-weight:500;font-family: 'Open Sans';">{{userProfile.zip}}</h6>
        <a style="color: rgb(49, 123, 209);font-weight:500;font-family: 'Open Sans';" href="tel:{{userProfile.phone}}">{{userProfile.phone}}</a>
    </div> 
</div>
<div class="row" style="padding-left: 20px;">
    <md-card>        
        <md-card-content>
            <h5 style="font-weight:400;font-family: 'Open Sans';color: #555;" class="text-center">Borrowed Books</h5>
            <p class="text-center">1</p>
        </md-card-content>        
    </md-card>
    <md-card>        
        <md-card-content>
            <h5 style="font-weight:400;font-family: 'Open Sans';color: #555;" class="text-center">Reserved Books</h5>
            <p class="text-center">1</p>
        </md-card-content>        
    </md-card>
</div>